{% load exportml_extras %}
<h1>Projects</h1>
{% for project in projects%}
	<p>Name: {{project.name}}</p>
	<p>Datasets:</p>
	<ul>
	{% for dataset in project.datasets %}
		<li><p>Name: {{dataset.name}}</p>
			<p>Images: </p>
			<ul>
			{% for image in dataset.images %}
				<li><!--{{image}}<br>--><img src="data:image/jpeg;base64, {{thumbnails|get_encoded:image.id}}" /></li>
				{% if image.can_get_rois %}
				<li><a href="{% url 'make_roi_images' image.id%}">Generate Images from ROIs</a></li>
				<li><a href="{% url 'export_rois' image.id%}">Export ROI data</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
{% empty %}
	<p>No projects with eligible images</p>
{% endfor %}
    	